*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    --font-color : #444;
}
.menu-bars{
    display: none;
}

nav{
    background-color: #036861;
    height: 8.5rem;
    position: relative;
    align-items: center;
    
    
}
#click{
    display: none;
}
ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #fff;
    margin-top: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    width: 100vw;
    bottom: 0;

}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: var(--font-color);
}
li a:hover{
    color: #99c2bf;
}
@media all and (max-width:530px){
    nav{
        width: 100vw;
        background-color: #fff;
        overflow-x: hidden;
        z-index: 2;
        
    }
    ul{  
        right: -110%;
        position: fixed;
        top:2rem;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        transition: all 0.3s ease;
        
    }
    li{
        padding: 1rem;
    }
    li a{
        font-weight: 700;
    }
    .logo{
        position: fixed;
        left: 0.7rem;
        top: 1rem;
        /* background-color: aqua; */
        padding: 0;
        margin-left: 0.2rem;
    }
    .menu-bars{
        position: absolute;
        font-size: 2.5rem;
        display: block;
        color: #036861;
        right: 0.7rem;
        top: 0.8rem;
    }
    #click:checked ~ul{
        right:0;
    }
    }
    

